.container {
  background: white;
  display: flex;
  align-items: center;
  border-radius: 10px;
  padding-right: 50px;
  margin: 10px;
  max-height: 150px;
  transition: 0.2s;
}

.container:hover {
  transform: scale(1.02);
  filter: drop-shadow(0 0 2rem #121212);
}

.gradientLeftBar {
  background: gold; /*gradient this shit*/
  background-image: linear-gradient(#33255e, #db2776);
  height: 100%;
  width: 15px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.name {
  padding: 20px;
  font-size: 1em;
  font-family: "Montserrat", Helvetica, Arial, sans-serif;
  font-weight: 400;
  flex: 1;
}

.progressText {
  text-align: right;
  font-size: 1.2em;
  font-family: "Montserrat", Helvetica, Arial, sans-serif;
  font-weight: 600;
}
