.container {
  width: calc(100% - 80px);
  display: flex;
  flex-direction: column;
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 30px;
}

.textInput {
  color: white;
  background: transparent;
  border: 0;
  border-bottom: 3px solid gray;
  font-size: 1.2em;
  font-family: "Lato", sans-serif;
  transition: 0.5s;
}

.textInput:focus {
    outline: none !important;
    border-bottom-color: aqua;
}

.subText {
  color: gray;
  font-family: "Lato", sans-serif;
  text-transform: uppercase;
  margin-top: 10px;
}
