.container {
  background: white;
  padding: 15px;
  display: flex;
  align-items: center;
  border-radius: 10px;
  padding-right: 50px;
  margin-top: 20px;
  margin-bottom: 20px;
  transition: 0.2s;
}

.container:hover {
  transform: scale(1.02);
  filter: drop-shadow(0 0 2rem #121212);
}

.folderIcon {
  height: 50px;
  width: 50px;
  object-fit: contain;
  margin-right: 20px;
}

.name {
  font-size: 1em;
  font-family: "Montserrat", Helvetica, Arial, sans-serif;
  font-weight: 400;
}
