.container {
  height: 45px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.2s;
  cursor: pointer;
  margin-left: 10px;
  margin-right: 10px;
}

.text {
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
}
