.container {
    /* background: black; */
    background: #212121;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.contentWrapper {
    z-index: 1;
    display: flex;
    height: 100%;
}

.centercard {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}