.container {
    height: 100vh;
    background-color: #212121;
}

.folderCard {
    margin-top: 100px;
    margin-left: 10vw;
    padding: 20px;
    background: black;
    /* max-width: calc(30vw - 20px); */
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    filter: drop-shadow(0 0 2rem black);
}

.headerText {
    text-transform: uppercase;
    font-size: 1.5em;
    font-family: "Montserrat", Helvetica, Arial, sans-serif;
    font-weight: 600;
    color: white;
    margin-bottom: 15px;
}
