.container {
  height: 100vh;
  background-color: #212121;
  display: flex;
  flex-direction: column;
}

.folderCard {
  margin-top: 100px;
  margin-left: 10vw;
  padding: 20px;
  background: black;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  filter: drop-shadow(0 0 2rem black);
}

.headerText {
  text-transform: uppercase;
  font-size: 1.5em;
  font-family: "Montserrat", Helvetica, Arial, sans-serif;
  font-weight: 600;
  color: white;
  margin-bottom: 15px;
}
