.container {
    background: black;
    width: 60vw;
    height: 50vh;
    border-radius: 12px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    display: flex;
    flex-direction: column;
}

.contentWrapper {
    background-color: red;
    border-radius: 12px;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-content: center;
    height: 70%;
    width: 100%;
}

h1 {
    color: white;
    width: 90%;
    margin: auto;
    text-align: center;
    font-family: Montserrat, Helvetica, Arial, sans-serif
}