.container {
  background: black;
  width: 60vw;
  height: 50vh;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  filter: drop-shadow(0 0 2rem #121212);
}

.contentWrapper {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
}

.titleh1 {
  color: white;
  text-align: center;
  font-family: "Montserrat", Helvetica, Arial, sans-serif;
}
